@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap");

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(0deg,#e69f9f, #3790ac);
    background-attachment: fixed;
}

.container{
    position: relative;
    width: 800px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px 0;
}

.container .card{
    position: relative;
    height: 250px;
    background: #fff;
    display: flex;
    width: 45%;
    margin: 30px 0;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.container .card .imgBx{
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease-in-out;
}

.container .card:hover .imgBx{
    height: 130px;
    width: 130px;
    left: -90px;
    top: calc(50% - 75px);
}

.container .card .imgBx img{
    max-width: 100px;
    transition: 0.5s ease-in-out;
}

.container .card:hover .imgBx img{
    max-width: 75px;
}

.container .card .content{
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 90%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card .content h3{
    color: #ff0057;
    margin-bottom: 5px;
    font-size: 24px;
}

.container .card .content a{
    display: inline-block;
    margin-top: 10px;
    padding: 8px 20px;
    border-radius: 5px;
    background: #0095ff;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

@media (min-width: 651px) and (max-width: 992px){
    .container{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .container .card{
        margin-top: 50px;
        width: 300px;
        height: auto;
        flex-direction: column;
        box-shadow: none;
        display: flex;
        align-items: center;
    }
    .container .card .imgBx{
        left: -25px;
        width: 345px;
        height: 93%;
    }
    .container .card:hover .imgBx{
        width: 75%;
        height: 45%;
        top: -55px;
        left: 100px;
    }
    .container .card .imgBx img,
    .container .card:hover .imgBx img{
        max-width: 100px;
    }
    .container .card .content{
        position: relative;
        width: 100%;
        background: #fff;
        box-shadow: none;
        border-radius: 20px;
        padding: 0 40px 40px;
        border-top: 90px solid #fff;
    }    
}

@media (max-width: 650px){
    .container{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .container .card{
        margin-top: 30px;
        width: 200px;
        max-height: 200px;
        flex-direction: column;
        box-shadow: none;
        display: flex;
        align-items: center;
    }
    .container .card .imgBx{
        left: -25px;
        width: 245px;
        height: 93%;
    }
    .container .card:hover .imgBx{
        width: 65%;
        height: 35%;
        top: -55px;
        left: 100px;
    }
    .container .card .imgBx img,
    .container .card:hover .imgBx img{
        max-width: 75px;
    }
    .container .card .content{
        position: relative;
        width: 100%;
        background: #fff;
        box-shadow: none;
        border-radius: 20px;
        padding: 0 40px 40px;
        border-top: 90px solid #fff;
    }
}